
<!--<div th:insert="~{header.html}"></div>-->

<!--<div th:insert="~{sidebar.html}">...</div>-->

<!--<main id="main" class="main">-->

<!--    <div class="pagetitle">-->
<!--        <h1>Dashboard</h1>-->
<!--        <nav>-->
<!--            <ol class="breadcrumb">-->
<!--                <li class="breadcrumb-item "><a th:href="@{/}">House</a></li>-->

<!--            </ol>-->
<!--        </nav>-->
<!--    </div>-->

<!--    <section class="section">-->
<!--        <div class="row">-->
<!--            <div class="col-md-10 offset-1">-->


<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                        <h1 class="card-title" style="text-align: center">House Edit Form</h1>-->

<!--                        &lt;!&ndash; Multi Columns Form &ndash;&gt;-->
<!--                        <form method="post" th:action="@{/house/save}" th:object="${huoseedit}">-->

<!--                            <input type="hidden" th:field="*{id}">-->

<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <label  class="form-label">House Location</label>-->
<!--                                    <input type="text" class="form-control" th:field="*{houseLocation}" >-->
<!--                                </div>-->

<!--                                <div class="col-md-6">-->
<!--                                    <label  class="form-label">House Bedroom</label>-->
<!--                                    <input type="text" class="form-control" th:field="*{houseBedroom}" >-->
<!--                                </div>-->

<!--                            </div>-->

<!--                            <div class="row">-->

<!--                                <div class="col-md-6">-->
<!--                                    <label  class="form-label">House Unit</label>-->
<!--                                    <input type="text" class="form-control" th:field="*{houseUnit}">-->
<!--                                </div>-->

<!--                                <div class="col-md-6">-->
<!--                                    <label  class="form-label">House Floor</label>-->
<!--                                    <input type="text" class="form-control" th:field="*{houseFloor}">-->
<!--                                </div>-->

<!--                            </div>-->


<!--                            <div class="row">-->

<!--                                <div class="col-md-6">-->
<!--                                    <label class="form-label">Owner Name</label>-->
<!--                                    <select type="text" class="form-control" th:field="*{owner_Name}">-->
<!--                                        <option th:each="h:${ownerList}" th:text="${h.ownerName}"-->
<!--                                                th:value="${h.id}">-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->


<!--                                &lt;!&ndash;                                <div class="col-md-6">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <label class="form-label">Gender</label>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="form-check">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <input class="form-check-input" type="radio" name="gender" value="Male" th:field="*{house_Gender}">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <label class="form-check-label" >&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            Male&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </label>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <div class="form-check">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <input class="form-check-input" type="radio" name="gender"  value="Female" th:field="*{house_Gender}">&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        <label class="form-check-label" >&ndash;&gt;-->
<!--                                &lt;!&ndash;                                            Female&ndash;&gt;-->
<!--                                &lt;!&ndash;                                        </label>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--                                &lt;!&ndash;                                </div>&ndash;&gt;-->

<!--                            </div>-->

<!--                            <div class="text-center p-3">-->
<!--                                <button type="submit" class="btn btn-primary">Update</button>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                        &lt;!&ndash; End Multi Columns Form &ndash;&gt;-->

<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->
<!--    </section>-->
<!--</main>-->
<!--&lt;!&ndash; End #main &ndash;&gt;-->


<!--<div th:insert="~{footer.html}"></div>-->
