<div th:insert="~{header.html}">...</div>
<div th:insert="~{sidebar.html}">...</div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a th:href="@{/}">Owner Add Form</a></li>

            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">


                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title" style="text-align: center">Owner Add Form</h1>

                        <!-- Multi Columns Form -->
                        <form th:action="@{/owner/save}" th:object="${owner}" method="post">


                            <div class="row">
                                <div class="col-md-6">
                                    <label  class="form-label">Owner Name</label>
                                    <input type="text" class="form-control" th:field="*{ownerName}" >
                                </div>

                                <div class="col-md-6">
                                    <label  class="form-label">Mobile No</label>
                                    <input type="text" class="form-control" th:field="*{mobile}">
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-6">
                                    <label  class="form-label">Email</label>
                                    <input type="email" class="form-control" th:field="*{email}">
                                </div>


                            </div>

                            <div class="p-2"></div>

                            <div class="text-center p-3">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>

                        </form>
                        <!-- End Multi Columns Form -->

                    </div>
                </div>

            </div>

        </div>
    </section>
</main><!-- End #main -->


<div th:insert="~{footer.html}"> </div>